<div *ngIf="!registerMode" class="container">
  <div class="row justify-content-center">
    <h1 class="jumbotron-heading">Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <button type="button" class="btn btn-primary my-2" (click)="registerToggle()" >Register</button> &nbsp;
      <button type="button" class="btn btn-secondary my-2">Learn More</button>
    </p>
  </div>
</div>

<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div>
